@{
    ViewBag.Title = "Home Page";
}




<section class="mh-about" id="mh-about">
    <div class="container">
        <div class="row section-separator">

            <h1>
                Dhawan community personal website
            </h1>

            <p>
                Are you belonging to Dhawan community? Do you want to have your own personal websit? Create now.
            </p>


            <div class="col-sm-12 col-md-12 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                <div id="msgSubmit" class="h3 text-center hidden"></div>
                <div class="row">

                    <div class="col-sm-12 text-center">

                        <h3>
                            <input name="name" style="
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding: 10px;
    text-align: right;" id="name" type="text" placeholder="ex.  varun" required>.dhawan.info
                        </h3>
                        <br />
                        <button type="submit" class="btn btn-fill" id="form-submit">Check Now</button>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>






